# Lab Customer Analysis Case Study

### Activities 1-3

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox
import xlrd

pd.options.display.max_rows = 50

In [70]:
#importing the data that I will be working on: 
file1 = pd.read_csv('Data/file1.csv')
file2 = pd.read_csv('Data/file2.csv')
file3 = pd.read_csv('Data/file3.csv')

In [3]:
def rename_file1(file1):
    file1.rename(columns={"ST" : "State"}, inplace =True)
    return file1
#this is a function that will change a column name to normalize it and make it equal to the already existing "State" column:

In [4]:
rename_file1(file1)

,Customer,State,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
list(file1.columns)

['Customer',
 'State',
 'GENDER',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Vehicle Class',
 'Total Claim Amount']

In [6]:
def rename_file2(file2):
    file2.rename(columns={"ST" : "State"}, inplace =True)
    return file2
rename_file2(file2)
list(file2.columns)

['Customer',
 'State',
 'GENDER',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Total Claim Amount',
 'Policy Type',
 'Vehicle Class']

In [7]:
def lower_lc_cloumns():
    file1.columns=[i.lower() for i in file1.columns]
    file2.columns=[i.lower() for i in file2.columns]
    file3.columns=[i.lower() for i in file3.columns]
    
#this is a function that will change all column names to lower case:

In [8]:
lower_lc_cloumns()

In [10]:
def concatenate_df():
    return pd.concat([file1,file2,file3])
#this function merges the 3 files into 1 dataframe

In [11]:
df = concatenate_df()

In [13]:
def drop_customer(df):
    df.drop(columns="customer", inplace=True)
    return df
#this function delete the column "customer"

In [14]:
drop_customer(df)

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
7065,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [75]:
#df.info()

In [17]:
def clean_values(value):
    if "%" in str(value):
        return float(value.replace("%", ""))/100
    else:
        return float(value)
    #this function delete the % value

In [74]:
df['customer lifetime value'] = list(map(clean_values, df['customer lifetime value']))

In [20]:
df.gender.unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [21]:
def gender_rename(a):
    if a == ("F" or "Femal" or "female"):
         return "Female"
    elif a == ("M" or "Male"):
         return "Male"
    else:
         return 
    
    #this function normalize the gender column

In [22]:
df['gender'] = list(map(gender_rename, df['gender']))

In [24]:
df.state.unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [25]:
def state_rename(b):
    if b == ("Cali"):
         return "California"
    elif b == ("AZ"):
         return "Arizona"
    elif b == "WA":
         return "Washington"
    else:
        return b
        #this function normalize the state column

In [73]:
df['state'] = list(map(state_rename, df['state']))

In [27]:
df.state.unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', nan],
      dtype=object)

In [28]:
df.drop_duplicates(inplace = True)
    #this function deletes duplicate rows

In [29]:
mean_customer_LTV = np.mean(df['customer lifetime value'])
mean_customer_LTV

7984.655747314654

In [30]:
df['customer lifetime value'] = df['customer lifetime value'].fillna(mean_customer_LTV)
    #this function changes NA values of the column with its mean

In [31]:
df["income"].value_counts(dropna=False)

0.0        2257
95697.0      12
61108.0       8
26876.0       8
24910.0       7
           ...
85412.0       1
42968.0       1
16711.0       1
10337.0       1
21941.0       1
Name: income, Length: 5656, dtype: int64

In [32]:
mean_total_claim = np.mean(df['total claim amount'])
df['total claim amount'] = df['total claim amount'].fillna(mean_total_claim)

In [33]:
df["monthly premium auto"].value_counts(dropna=False)

65.0     339
71.0     298
66.0     297
73.0     291
67.0     283
        ...
178.0      1
204.0      1
281.0      1
275.0      1
286.0      1
Name: monthly premium auto, Length: 210, dtype: int64

In [34]:
print(df["monthly premium auto"].value_counts())

65.0     339
71.0     298
66.0     297
73.0     291
67.0     283
        ...
178.0      1
204.0      1
281.0      1
275.0      1
286.0      1
Name: monthly premium auto, Length: 209, dtype: int64

In [35]:
mean_monthly_premium = np.mean(df['monthly premium auto'])
df['monthly premium auto'] = df['monthly premium auto'].fillna(mean_monthly_premium)

In [36]:
df["number of open complaints"].value_counts()

0         5421
1/0/00    1615
1          749
2          279
1/1/00     244
3          221
4          114
1/2/00      93
1/3/00      58
5           43
1/4/00      28
1/5/00      12
Name: number of open complaints, dtype: int64

In [37]:
def complaints_clean(y):
    if type(y) == str:
        return int(y.split("/")[1])
    else:
        return y
    
    #this function cleans the column by taking the first value after the /

In [38]:
complaints_clean("1/2/00")

2

In [39]:
df["number of open complaints"] = list(map(complaints_clean, df["number of open complaints"]))

In [72]:
median_open_complaints = np.median(df['number of open complaints'])
df['number of open complaints'] = df['number of open complaints'].fillna(median_open_complaints)
df['number of open complaints'] = df['number of open complaints'].astype('int')

In [41]:
df["income"].value_counts()

0.0        2257
95697.0      12
26876.0       8
61108.0       8
25965.0       7
           ...
75774.0       1
85412.0       1
42968.0       1
16711.0       1
21941.0       1
Name: income, Length: 5655, dtype: int64

In [42]:
df["income"].value_counts(dropna=False)

0.0        2257
95697.0      12
61108.0       8
26876.0       8
24910.0       7
           ...
85412.0       1
42968.0       1
16711.0       1
10337.0       1
21941.0       1
Name: income, Length: 5656, dtype: int64

In [71]:
median_income = np.median(df['income'])
df['income'] = df['income'].fillna(median_income)

In [45]:
df.insert(1, "region", list(map(lambda x: "West Region" if x=="California" else "East" if x=="Washington" else "North West" if x=="Oregon" else "Central", df.state)))

In [69]:
df = df.apply(lambda x: x.str.lower() if(x.dtype == str) else x)

In [55]:
df = df.applymap(lambda x: x.lower() if type(x) == str else x)

In [67]:
df.select_dtypes(include= np.number).columns.tolist()

['customer lifetime value',
 'income',
 'monthly premium auto',
 'number of open complaints',
 'total claim amount']

In [66]:
df.select_dtypes(include="object").columns.tolist()

['state', 'region', 'gender', 'education', 'policy type', 'vehicle class']