## Lab Customer Analysis Case Study

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox
import xlrd

pd.options.display.max_rows = 50

In [2]:

file1 = pd.read_csv('Data/file1.csv')
file2 = pd.read_csv('Data/file2.csv')
file3 = pd.read_csv('Data/file3.csv')

In [3]:
def rename_file1(file1):
    file1.rename(columns={"ST" : "State"}, inplace =True)
    return file1

In [4]:
rename_file1(file1)

,Customer,State,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
list(file1.columns)

['Customer',
 'State',
 'GENDER',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Vehicle Class',
 'Total Claim Amount']

In [6]:
def rename_file2(file2):
    file2.rename(columns={"ST" : "State"}, inplace =True)
    return file2
rename_file2(file2)
list(file2.columns)

['Customer',
 'State',
 'GENDER',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Total Claim Amount',
 'Policy Type',
 'Vehicle Class']

In [7]:
def lower_lc_cloumns():
    file1.columns=[i.lower() for i in file1.columns]
    file2.columns=[i.lower() for i in file2.columns]
    file3.columns=[i.lower() for i in file3.columns]

In [8]:
lower_lc_cloumns()

In [9]:
file3

,customer,state,customer lifetime value,education,gender,income,monthly premium auto,number of open complaints,policy type,total claim amount,vehicle class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [10]:
def concatenate_df():
    return pd.concat([file1,file2,file3])

In [11]:
df = concatenate_df()

In [12]:
df

,customer,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [13]:
def drop_customer(df):
    df.drop(columns="customer", inplace=True)
    return df

In [14]:
drop_customer(df)

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
7065,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12074 entries, 0 to 7069
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      9137 non-null   object
 1   gender                     9015 non-null   object
 2   education                  9137 non-null   object
 3   customer lifetime value    9130 non-null   object
 4   income                     9137 non-null   float64
 5   monthly premium auto       9137 non-null   float64
 6   number of open complaints  9137 non-null   object
 7   policy type                9137 non-null   object
 8   vehicle class              9137 non-null   object
 9   total claim amount         9137 non-null   float64
dtypes: float64(3), object(7)
memory usage: 1.0+ MB

In [16]:
df

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
7065,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [17]:
def clean_values(value):
    if "%" in str(value):
        return float(value.replace("%", ""))/100
    else:
        return float(value)

In [18]:
df['customer lifetime value'] = list(map(clean_values, df['customer lifetime value']))
df

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,6979.535900,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,12887.431700,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,7645.861800,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,5363.076500,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
7065,California,M,Bachelor,23405.987980,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [19]:
df

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,6979.535900,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,12887.431700,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,7645.861800,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,5363.076500,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
7065,California,M,Bachelor,23405.987980,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [20]:
df.gender.unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [21]:
def gender_rename(a):
    if a == ("F" or "Femal" or "female"):
         return "Female"
    elif a == ("M" or "Male"):
         return "Male"
    else:
         return

In [22]:
df['gender'] = list(map(gender_rename, df['gender']))

In [23]:
df

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,None,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,Female,Bachelor,6979.535900,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,Female,Bachelor,12887.431700,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,Male,Bachelor,7645.861800,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,Male,High School or Below,5363.076500,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
7065,California,Male,Bachelor,23405.987980,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,California,Female,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,California,Male,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,California,Male,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,California,Male,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [24]:
df.state.unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [25]:
def state_rename(b):
    if b == ("Cali"):
         return "California"
    elif b == ("AZ"):
         return "Arizona"
    elif b == "WA":
         return "Washington"
    else:
        return b

In [26]:
df['state'] = list(map(state_rename, df['state']))
df

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,None,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,Female,Bachelor,6979.535900,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,Female,Bachelor,12887.431700,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,Male,Bachelor,7645.861800,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,Male,High School or Below,5363.076500,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
7065,California,Male,Bachelor,23405.987980,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,California,Female,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,California,Male,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,California,Male,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,California,Male,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [27]:
df.state.unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', nan],
      dtype=object)

In [28]:
df.drop_duplicates(inplace = True)

In [29]:
mean_customer_LTV = np.mean(df['customer lifetime value'])
mean_customer_LTV

7984.655747314654

In [30]:
df['customer lifetime value'] = df['customer lifetime value'].fillna(mean_customer_LTV)

In [31]:
df["income"].value_counts(dropna=False)

0.0        2257
95697.0      12
61108.0       8
26876.0       8
24910.0       7
           ...
85412.0       1
42968.0       1
16711.0       1
10337.0       1
21941.0       1
Name: income, Length: 5656, dtype: int64

In [32]:
mean_total_claim = np.mean(df['total claim amount'])
df['total claim amount'] = df['total claim amount'].fillna(mean_total_claim)

In [33]:
df["monthly premium auto"].value_counts(dropna=False)

65.0     339
71.0     298
66.0     297
73.0     291
67.0     283
        ...
178.0      1
204.0      1
281.0      1
275.0      1
286.0      1
Name: monthly premium auto, Length: 210, dtype: int64

In [34]:
print(df["monthly premium auto"].value_counts())

65.0     339
71.0     298
66.0     297
73.0     291
67.0     283
        ...
178.0      1
204.0      1
281.0      1
275.0      1
286.0      1
Name: monthly premium auto, Length: 209, dtype: int64

In [35]:
mean_monthly_premium = np.mean(df['monthly premium auto'])
df['monthly premium auto'] = df['monthly premium auto'].fillna(mean_monthly_premium)

In [36]:
df["number of open complaints"].value_counts()

0         5421
1/0/00    1615
1          749
2          279
1/1/00     244
3          221
4          114
1/2/00      93
1/3/00      58
5           43
1/4/00      28
1/5/00      12
Name: number of open complaints, dtype: int64

In [37]:
def complaints_clean(y):
    if type(y) == str:
        return int(y.split("/")[1])
    else:
        return y

In [38]:
complaints_clean("1/2/00")

2

In [39]:
df["number of open complaints"] = list(map(complaints_clean, df["number of open complaints"]))

In [40]:
mean_open_complaints = np.mean(df['number of open complaints'])
df['number of open complaints'] = df['number of open complaints'].fillna(mean_open_complaints)
df['number of open complaints'] = df['number of open complaints'].astype('int')

In [41]:
df["income"].value_counts()

0.0        2257
95697.0      12
26876.0       8
61108.0       8
25965.0       7
           ...
75774.0       1
85412.0       1
42968.0       1
16711.0       1
21941.0       1
Name: income, Length: 5655, dtype: int64

In [42]:
df["income"].value_counts(dropna=False)

0.0        2257
95697.0      12
61108.0       8
26876.0       8
24910.0       7
           ...
85412.0       1
42968.0       1
16711.0       1
10337.0       1
21941.0       1
Name: income, Length: 5656, dtype: int64

In [43]:
mean_income = np.mean(df['income'])
df['income'] = df['income'].fillna(mean_income)

In [44]:
df

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,None,Master,7984.655747,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,Arizona,Female,Bachelor,6979.535900,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,Nevada,Female,Bachelor,12887.431700,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,California,Male,Bachelor,7645.861800,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,Washington,Male,High School or Below,5363.076500,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
7065,California,Male,Bachelor,23405.987980,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,California,Female,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,California,Male,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,California,Male,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,California,Male,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [45]:
df.insert(1, "region", list(map(lambda x: "West Region" if x=="California" else "East" if x=="Washington" else "North West" if x=="Oregon" else "Central", df.state)))

In [46]:
df

,state,region,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,East,None,Master,7984.655747,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,Arizona,Central,Female,Bachelor,6979.535900,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,Nevada,Central,Female,Bachelor,12887.431700,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,California,West Region,Male,Bachelor,7645.861800,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,Washington,East,Male,High School or Below,5363.076500,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,California,West Region,Male,Bachelor,23405.987980,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,California,West Region,Female,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,California,West Region,Male,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,California,West Region,Male,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,California,West Region,Male,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [69]:
df = df.apply(lambda x: x.str.lower() if(x.dtype == str) else x)

In [55]:
df = df.applymap(lambda x: x.lower() if type(x) == str else x)

In [59]:
df

,state,region,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,washington,east,None,master,7984.655747,0.0,1000.0,0,personal auto,four-door car,2.704934
1,arizona,central,female,bachelor,6979.535900,0.0,94.0,0,personal auto,four-door car,1131.464935
2,nevada,central,female,bachelor,12887.431700,48767.0,108.0,0,personal auto,two-door car,566.472247
3,california,west region,male,bachelor,7645.861800,0.0,106.0,0,corporate auto,suv,529.881344
4,washington,east,male,high school or below,5363.076500,36357.0,68.0,0,personal auto,four-door car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,california,west region,male,bachelor,23405.987980,71941.0,73.0,0,personal auto,four-door car,198.234764
7066,california,west region,female,college,3096.511217,21604.0,79.0,0,corporate auto,four-door car,379.200000
7067,california,west region,male,bachelor,8163.890428,0.0,85.0,3,corporate auto,four-door car,790.784983
7068,california,west region,male,college,7524.442436,21941.0,96.0,0,personal auto,four-door car,691.200000
7069,california,west region,male,college,2611.836866,0.0,77.0,0,corporate auto,two-door car,369.600000

In [67]:
df.select_dtypes(include= np.number).columns.tolist()

['customer lifetime value',
 'income',
 'monthly premium auto',
 'number of open complaints',
 'total claim amount']

In [66]:
df.select_dtypes(include="object").columns.tolist()

['state', 'region', 'gender', 'education', 'policy type', 'vehicle class']