# Pandas: grouping

In [1]:
import pandas as pd
import numpy as np

In [2]:
cars = pd.read_csv("data/vehicles.csv")

In [3]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [4]:
### your code is here
cars["Model"].nunique()

3608

group by the data by the Make  using count function

In [5]:
### your code us here
cars.groupby("Make").count()

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

What brand has the most cars?

In [6]:
#Make_with_most_models = cars["Make"].value_counts().idxmax()
#Make_with_most_models

In [7]:
Brand_with most_unique_models= cars.groupby("Make")["Model"].nunique().idxmax()
Brand_with_most_cars_in_DF = cars.groupby("Make")["Model"].count().idxmax()

SyntaxError: invalid syntax (939141169.py, line 1)

<b>show the average CO2_Emission_Grams/Km  by Brand

In [9]:
### your code us here
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
cars_modified = pd.read_csv("data/cars_modified.csv")
cars_modified.groupby("Make")["CO2 Emission Grams/Km"].mean()

Make
AM General               379.881345
AS, Inc                  394.438536
ASC Incorporated         345.133719
Acura                    262.583000
Alfa Romeo               288.287195
                            ...
Volkswagen               244.038998
Volvo                    270.796572
Wallace Environmental    408.857065
Yugo                     221.251107
smart                    153.498052
Name: CO2 Emission Grams/Km, Length: 122, dtype: float64

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [11]:
### your code us here
cars_modified.groupby("Make")["CO2 Emission Grams/Km"].mean().sort_values(ascending=False)

Make
Vector                    651.919248
Bugatti                   542.497235
Laforza Automobile Inc    502.012683
Dutton                    476.419879
Rolls-Royce               475.397772
                             ...
MINI                      194.935105
Daihatsu                  192.742404
Fiat                      189.311494
smart                     153.498052
Fisker                    105.011992
Name: CO2 Emission Grams/Km, Length: 122, dtype: float64

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [12]:
cars_modified['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [15]:
## your code here
cars_modified['Decade'] = pd.cut(cars_modified['Year'],bins=(1980,1990,2000,2010,2020), labels=("80s","90s","2000s","2010s"))
cars_modified['Decade']
cars_modified

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City Km/Liter,Highway Km/Liter,Combined Km/Liter,CO2 Emission Grams/Km,Fuel Cost/Year,Transmission1,Decade
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,7.652571,7.227428,7.227428,324.831736,1950,automatic,80s
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.526857,5.526857,5.526857,424.779962,2550,automatic,80s
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,6.802286,7.227428,6.802286,345.133719,2100,automatic,80s
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.526857,5.526857,5.526857,424.779962,2550,automatic,80s
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,5.952000,8.928000,6.802286,345.133719,2550,automatic,80s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,16.155428,15.305143,151.614948,1100,automatic,2010s
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,16.155428,15.305143,150.993575,1100,automatic,2010s
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,16.155428,15.305143,151.614948,1100,automatic,2010s
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,16.580571,15.305143,152.857693,1100,automatic,2010s
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,13.604571,16.580571,14.880000,158.450048,1150,manual,2010s

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [20]:
### your code is here
cars_modified.groupby('Decade')['City Km/Liter'].mean()

Decade
80s      7.349833
90s      7.204198
2000s    7.208413
2010s    8.394430
Name: City Km/Liter, dtype: float64

Which brands are more environment friendly?

In [17]:
### your code is here
cars_modified.groupby('Make')['CO2 Emission Grams/Km'].mean().sort_values().head(10)

Make
Fisker      105.011992
smart       153.498052
Fiat        189.311494
Daihatsu    192.742404
MINI        194.935105
Scion       205.920389
Geo         209.450825
Yugo        221.251107
Honda       222.160996
Renault     223.586374
Name: CO2 Emission Grams/Km, dtype: float64

Does the drivetrain affect fuel consumption?

In [23]:
## Your Code here
cars_modified.groupby("Drivetrain")["Combined Km/Liter"].mean().sort_values()

Drivetrain
Part-time 4-Wheel Drive        6.917989
4-Wheel or All-Wheel Drive     7.118904
2-Wheel Drive                  7.231449
Rear-Wheel Drive               7.451258
4-Wheel Drive                  8.110665
All-Wheel Drive                8.898392
Front-Wheel Drive             10.166109
2-Wheel Drive, Front          11.904000
Name: Combined Km/Liter, dtype: float64

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [24]:
## Your Code here
cars_modified.groupby("Transmission1")["Combined Km/Liter"].mean()

Transmission1
automatic    8.226908
manual       8.984980
Name: Combined Km/Liter, dtype: float64

Use `groupby` and `aggregate` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [32]:
## your code is here
cars_modified.groupby("Transmission1").agg({"City Km/Liter":"mean","Transmission1":"count"})

               City Km/Liter  Transmission1
Transmission1
automatic           7.278292          24290
manual              7.968348          11662

aggregate with average City_Km/Liter and the minimum of the Trans

In [36]:
### your code is here
cars_modified.groupby("Transmission1")[["City Km/Liter"]].agg(min)

               City Km/Liter
Transmission1
automatic           2.976000
manual              2.550857